<% include ./partials/header %>


<br>
<br>
<br>
<br>
<div class="ui main text container segment">
    <div class="ui huge header">Login</div>
        <div class="ui top attached ">
            
    <form class="ui form" action="/login" method="post">
        
    <div class="field">
       <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
       <input type="password" name="password" placeholder="password">
    </div>



   
    <button class="ui basic button" >Sign Up</button>
    </form>
    
        </div>
    </div>
</div>


<% include ./partials/footer %>